# iOS
iOS/LostAndFound/LostAndFound.xcodeproj/project.xcworkspace
iOS/LostAndFound/LostAndFound.xcodeproj/xcuserdata

# ignore vscode configuration files
**/.vscode

# Ignore node modules
lostandfound/frontend/node_modules/
lostandfound/backend/node_modules/

# Ignore macOS system files
**/.DS_Store

# Ignore log files
**/*.log

# Ignore sensitive credentials
**/GoogleService-Info.plist
**/.env
