# iOS
iOS/LostAndFound/LostAndFound.xcodeproj/project.xcworkspace
iOS/LostAndFound/LostAndFound.xcodeproj/xcuserdata
iOS/LostAndFound/LostAndFound/GoogleService-Info.plist
iOS/.vscode

# Ignore node modules
node_modules/

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore VSCode settings (optional)
.vscode/
