<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-559621942645-ios-54ba893ee77de6a926773c</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>IBMPlexSans-Italic-VariableFont_wdth,wght.ttf</string>
		<string>IBMPlexSans-VariableFont_wdth,wght.ttf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to your camera to take photos of lost items for your report.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to attach photos of lost items to your report.</string>
</dict>
</plist>
